h5 {
  font-family: 'Knewave';
}



.single_img_wrap img {
  object-fit: cover;
  height: 100%;
  object-position: center ;
  filter: grayscale(100%);

}


.imageHover img {
  filter: grayscale(0%);
  /* object-fit: contain; */
}

@media (max-width:600px) {
  
  .imageHover {
    width: 150% !important;
  }

  .single_img_wrap img {
    object-fit: contain;
  }

}

@media (min-width:600px) {
  
  .imageHover {
    width: 50% !important;
  }

  .single_img_wrap img {
    object-fit: cover;
  }
  
}

.project_img img {
  object-fit: contain;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  object-position: left;
}


.single_expert:hover .single_icons {
  opacity: 1 !important;
  filter: none;
  transition: all 0.3s ease-in-out;
}

.intersection_img img {
  object-fit: cover !important;
  object-position: top center;  
  border-radius: 6px;
}

.single_projects:hover .intersection_img img {
  scale: 1.02;
  transition: all 0.6s ease-in-out;
}

.single_projects:hover .pro_text_section {
  background: #181818;
}



.landing_text_stroke {
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  color: transparent;
  font-weight: 900;
  font-family: Londrina Solid ;
}
